<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->
  <h3>
    Author
  </h3>

  <p>
    <div class="media">
      <h4 class="media-heading">Alice</h4>
      <div class="media-body">
        <img src="https://avatars0.githubusercontent.com/u/18562602?v=2&s=100" alt="Alice">
      </div>
    </div>
  </p>
</div>
<p>I’m Alice, also known as alicela1n. I like Linux, mobile devices, embedded development, computer science, and other things tech related.</p>
